{% extends 'base.html' %}

{% block title %} Login {% endblock %}
{% block content %}
<div class="h-screen font-sans login bg-cover">
<div class="container mx-auto h-full flex flex-1 justify-center items-center">
    <div class="w-full max-w-lg">
      <div class="leading-loose">
        <form class="max-w-sm m-4 p-10 bg-white bg-opacity-25 rounded shadow-xl" method="POST">
			{% csrf_token %}
            <p class="text-white font-medium text-center text-lg font-bold">LOGIN</p>
			{% if auth_error %}
			<p class="text-rose-600 text-center text-medium">
				{{auth_error}}
			</p>
			{% endif %}
              <div class="">
                <label for="{{form.email.id_for_label}}" class="block text-sm text-white">E-mail</label>
                <input type="{{form.email.widget.input_type}}"
					   name="{{form.email.name}}"
					   id="{{form.email.id_for_label}}"
					   placeholder="{{form.email.label}}"
					   value="{{form.email.value|default:''}}"
					   {% if form.email.required %} required {% endif %}
					   class="w-full px-5 py-1 text-gray-700 bg-gray-300 rounded focus:outline-none focus:bg-white"  aria-label="email" required>
				  {% if form.email.errors %}
				  {% for error in form.email.errors %}
				  <div class="invalid-feedback text-danger">
					  {{ error }}
				  </div>
				  {% endfor %}
				  {%endif %}
              </div>
              <div class="mt-2">
                <label for="{{form.password.id_for_label}}" class="block  text-sm text-white">Password</label>
                 <input type="Password"
						name="{{form.password.name}}"
						id="{{form.password.id_for_label}}"
						placeholder="{{form.password.label}}"
						value="{{form.password.value|default:''}}"
						{% if form.password.required %} required {% endif %}
						 class="w-full px-5 py-1 text-gray-700 bg-gray-300 rounded focus:outline-none focus:bg-white"
                   arial-label="password" required>
				  {% if form.password.errors %}
				  {% for error in form.password.errors %}
				  <div class="invalid-feedback text-danger">
					  {{ error }}
				  </div>
				  {% endfor %}
				  {%endif %}
              </div>



              <div class="mt-4 items-center flex justify-between">
                <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 hover:bg-gray-800 rounded"
                  type="submit">Login</button>
                <a class="inline-block right-0 align-baseline font-bold text-sm text-500 text-white hover:text-red-400"
                  href="#">Forgot Password ?</a>
              </div>
              <div class="text-center">
                <a href="{% url 'sign_up' %}" class="inline-block right-0 align-baseline font-light text-sm text-500 hover:text-red-400">
                    No account yet? Sign up
                </a>
              </div>

        </form>

      </div>
    </div>
  </div>
</div>
<style>
  .login{
  /*
    background: url('https://tailwindadmin.netlify.app/dist/images/login-new.jpeg');
  */
  background: url('http://bit.ly/2gPLxZ4');
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
{% endblock %}