{% extends 'base.html' %}

{% block title %} Sign Up {% endblock %}
{% block content %}
<div class="h-screen font-sans login bg-cover">
<div class="container mx-auto h-full flex flex-1 justify-center items-center">
    <div class="w-full max-w-lg">
      <div class="leading-loose">
        <form id="form" class="max-w-sm m-4 p-10 bg-white bg-opacity-25 rounded shadow-xl" method="POST">
			{% csrf_token %}
            <p class="text-white font-medium text-center text-lg font-bold">SIGN UP</p>
			{% if auth_error %}
			<p class="text-rose-600 text-center text-medium">
				{{auth_error}}
			</p>
			{% endif %}
              <div class="">
                <label for="{{form.email.id_for_label}}" class="block text-sm text-white ">E-mail</label>
                <input type="email"
					   name="{{form.email.name}}"
					   id="{{form.email.id_for_label}}"
					   placeholder="{{form.email.label}}"
					   value="{{form.email.value|default:''}}"
					   {% if form.email.required %} required {% endif %}
					   class="w-full px-5 py-1 text-gray-700 bg-gray-300 rounded focus:outline-none focus:bg-white {% if form.email.errors %} border-x-red-600 {% endif %}"  aria-label="email" required>
				  {% if form.email.errors %}
				  {% for error in form.email.errors %}
				  <div class="invalid-feedback text-rose-600">
					  {{ error }}
				  </div>
				  {% endfor %}
				  {%endif %}
              </div>
              <div class="mt-2">
                <label for="{{form.password.id_for_label}}" class="block  text-sm text-white">Password</label>
                 <input type="Password"
						name="{{form.password.name}}"
						id="{{form.password.id_for_label}}"
						placeholder="{{form.password.label}}"
						value="{{form.password.value|default:''}}"
						{% if form.password.required %} required {% endif %}
						 class="w-full px-5 py-1 text-gray-700 bg-gray-300 rounded focus:outline-none focus:bg-white"
                   arial-label="password" required>
				  {% if form.password.errors %}
				  {% for error in form.password.errors %}
				  <div class="invalid-feedback text-rose-600">
					  {{ error }}
				  </div>
				  {% endfor %}
				  {%endif %}
              </div>

				 <div class="mt-2">
                <label for="password_confirm" class="block  text-sm text-white">Confirm Password</label>
                 <input type="text"
						name="password_confirm"
						id="password_confirm"
						placeholder="Confirm password"
						 class="w-full px-5 py-1 text-gray-700 bg-gray-300 rounded focus:outline-none focus:bg-white"
                   arial-label="password" required>

				  <div id="password-mismatch"  class="invalid-feedback text-rose-600 hidden">
                        Passwords do not match!
				  </div>

              </div>

              <div class="mt-4 items-center flex justify-between">
                <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 hover:bg-gray-800 rounded"
                  type="button" onclick="signup('{{form.password.id_for_label}}','password_confirm')">Sign up</button>
              </div>
              <div class="text-center">
                <a href="{% url 'sign_in'%}" class="inline-block right-0 align-baseline font-light text-sm text-500 hover:text-red-400">
                    Have an account? Sign in
                </a>
              </div>

        </form>

      </div>
    </div>
  </div>
</div>
<script>
	signup = function(pass1, pass2){
	const password1 = document.getElementById(pass1).value;
	const password2 = document.getElementById(pass2).value;
	const form = document.getElementById('form');
	const errorText = document.getElementById('password-mismatch')

	if(password1 === password2){
	   form.submit();
	}else{
	  errorText.classList.remove('hidden')
	}

	}
</script>
<style>
  .login{
  /*
    background: url('https://tailwindadmin.netlify.app/dist/images/login-new.jpeg');
  */
  background: url('https://th.bing.com/th/id/OIP.yprFcTIY4XyZ8Vx_MVLm5gHaEo?w=308&h=192&c=7&r=0&o=5&pid=1.7');
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
{% endblock %}