<!-- component -->
<style>
    /* This example part of kwd-dashboard see https://kamona-wd.github.io/kwd-dashboard/ */
/* So here we will write some classes to simulate dark mode and some of tailwind css config in our project */
:root {
  --light: #edf2f9;
  --dark: #152e4d;
  --darker: #12263f;

  --color-red: #dc2626;
  --color-green: #16a34a;
  --color-blue: #2563eb;
  --color-cyan: #0891b2;
  --color-teal: #0d9488;
  --color-fuchsia: #c026d3;
  --color-orange: #ea580c;
  --color-yellow: #ca8a04;
  --color-violet: #7c3aed;
}

[x-cloak] { display: none; }

.dark .dark\:text-light {
  color: var(--light);
}

.dark .dark\:bg-dark {
  background-color: var(--dark);
}

.dark .dark\:bg-darker {
  background-color: var(--darker);
}

.dark .dark\:text-gray-300 {
  color: #D1D5DB;
}

.dark .dark\:text-blue-500 {
  color: #3B82F6;
}

.dark .dark\:text-blue-100 {
  color: #DBEAFE;
}

.dark .dark\:hover\:text-light:hover {
  color: var(--light);
}

.dark .dark\:border-blue-800 {
  border-color: #1e40af;
}

.dark .dark\:border-blue-700 {
  border-color: #1D4ED8;
}

.dark .dark\:bg-blue-600 {
    background-color: #2563eb;
}

.dark .dark\:hover\:bg-blue-600:hover {
  background-color: #2563eb;
}

.hover\:overflow-y-auto:hover {
    overflow-y: auto;
}
</style>

<div class="px-2 pt-4 pb-8 border-r border-gray-300">
            <ul class="space-y-2">
              <li>
                    <a id="files-f" class=" bg-opacity-30 text-blue-600 flex items-center justify-between py-1.5 px-4 rounded cursor-pointer hover:bg-gray-100 ">
                        <span class="flex items-center space-x-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4"></path>
                            </svg>
                            <span>Files</span>
                        </span>
                        <span class="bg-sky-500 text-gray-100 font-bold px-2 py-0.5 text-xs rounded-lg">{{data.count}}</span>
                    </a>
                </li>




            <li>
                    <a  id="users-f" class=" bg-opacity-30 text-blue-600 flex items-center justify-between py-1.5 px-4 rounded cursor-pointer hover:bg-gray-100 ">
                        <span class="flex items-center space-x-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4"></path>
                            </svg>
                            <span>Users</span>
                        </span>
                        <span class="bg-sky-500 text-gray-100 font-bold px-2 py-0.5 text-xs rounded-lg">{{data.users_count}}</span>
                    </a>
                </li>

                <li><h3 class="py-1.5 px-4">Pages</h3></li>

                 <li>
                    <a href="{% url 'profile' %}" class=" bg-opacity-30 text-blue-600 flex items-center justify-between py-1.5 px-4 rounded cursor-pointer hover:bg-gray-100 ">
                        <span class="flex items-center space-x-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4"></path>
                            </svg>
                            <span>Profile</span>
                        </span>
                    </a>
                </li>


                 <li>
                    <a href="{% url 'index' %}" class=" bg-opacity-30 text-blue-600 flex items-center justify-between py-1.5 px-4 rounded cursor-pointer hover:bg-gray-100 ">
                        <span class="flex items-center space-x-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4"></path>
                            </svg>
                            <span>Library</span>
                        </span>
                    </a>
                </li>


                  <li>
                    <a href="{% url 'logout'%}" class=" bg-opacity-30 text-blue-600 flex items-center justify-between py-1.5 px-4 rounded cursor-pointer hover:bg-gray-100 ">
                        <span class="flex items-center space-x-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4"></path>
                            </svg>
                            <span>Logout</span>
                        </span>
                    </a>
                </li>
            </ul>

        </div>

